@import "~bootstrap/scss/bootstrap.scss";

.container {
    background-color: dimgray;
    width: 400px;
    height: 600px;
    border-radius: 5%;
}
i {
    display: none;
    width: 10px;
    margin: 0;
    float: right;
}
.invisible{
    display: none;
}