@import "~bootstrap/scss/bootstrap.scss";

.container {
width: 400px;
background-color: rgb(240, 168, 140);
margin-top: 15px;
border-radius: 5%;
}

i {
display: none;
width: 10px;
margin-right: 10px;
float: right;
}

.hide{
display: none;
}

